body
{
	margin:0px;
	padding: 0px;
	width: 100%;
	border:0px;
	background-color: white;
	font-family: arial;
}
.wrapper
{
	margin: 0 auto;
	width: 1100px;
	height: 100%;
}
.header
{
	width: 100%;
	height: 50px;
	background-color: lightblue;
	position: fixed;
	z-index: 9999;
}
.headerfixed
{
	width: 100%;
	height: 50px;
}
.header .wrapper 
{
	padding-top: 5px;
}
#searching
{
	display: inline;
}
#search
{
	width: 220px;
	background-image: url('../search.png');
	background-position: 5px 4px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	border-radius: 8px;
	font-size: 16px;
	padding: 10px 20px 10px 40px;
	background-color: #E1E9EE;
	border: 0px;
	position : absolute;
	top: 5px;
	margin-left: 50px;
	transition: width 1.5s ease-in-out;
}
#search:focus
{
	width: 420px;
	outline: 0px
}
.content
{
	margin-top: 1%;
}
.sidebarleft
{
	width: 200px;
	background-color: #FFFFFF;
	position: fixed;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	box-shadow: 2px 6px 6px #999999;
}
.leftfixed
{
	width: 200px;
	height: 520px;
	float: left;
	margin-right: 20px;
}
ul 
{
	list-style-type: none;
	margin: 0px;
	padding: 0;
	background-color: #fff;
	height: 100%;
}
li a 
{
	display: block;
	color: #000;
	padding: 3px 3px;
	text-decoration: none;
	margin-left: 20px;
	margin-right: 20px;
}
li a:hover
{
	background-color: #cbf5ff80;
	border-radius: 50px;
}
li a:hover:not(.active)
{
	background-color: #e7e7e7;
	border-radius: 50px;
}
ul button 
{
	text-decoration: none;
	margin: 4px 2px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 16px;
	cursor: pointer;
	display: inline;
	float: right;
	padding: 6px 9px 4px 9px;
	border: 2px solid #2196F3;
	background-color: #00aeef;
	color: white;
	outline: 0px;
	border: 0px;
	border-radius: 25px;
	box-shadow: 3px 3px 5px #999999;
}
ul button:hover
{
	background-color: lightblue;
	color: white;
}
ul button:active
{
	background-color: #4F82C3;
    box-shadow: 0 5px 4px #666;
    transform: translateY(5px);
}
.rightfixed
{
	float: right;
	width: 290px;
	height: 300px;
	clear: right;
}
.sidebarright
{
	position: fixed;
	width: 250px;
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	box-shadow: 2px 6px 6px #999999;
	padding: 20px;
}
.rightcontent
{
	padding-bottom: 5px;
	margin-bottom: 5px;
	height: 40px;
}
.sidebarright .rightcontent img
{
	display: inline;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
}
.rightcontent p
{
	display: block;
	width: 120px;
	margin: auto auto;
	margin-left: 15px;
	margin-top: 12px;
	float: left;
	text-align: left;
	font-size: 14px;
}
.rightcontent a
{
	display: block;
	float: right;
	width: 68px;
	font-size: 13px;
	margin-top: 7px;
	text-decoration: none;
	text-align: center;
	color: rgba(0,0,0,.85);
	height: 19px;
	padding: 1px;
	border: 2px solid #B7B7B7;
	border-radius: 4px;
}
.rightcontent a:hover
{
	background-color: lightblue;
	width: 70px;
	height: 21px;
	border: none;
	color: white;
}
.mainnotfixed
{
	float: left;
	width: 570px;
}
.main
{
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 20px;
	box-shadow: 4px 1.5px 5px #999999;
}
.mainnotfixed hr
{
	border: 0.5px solid #B7B7B7;
	outline: 0px;
	width: 90%;
	box-shadow: 1px 1px 5px #999999;
	margin-bottom: 18px;
}
.mainpost
{	
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	border-radius: 4px;
	padding: 15px;
	box-shadow: 4px 1.5px 5px #999999;
	margin-bottom: 5px;
}
.mainpost .userimg img
{
	width: 45px;
	height: 45px;
	float: left;
}
.mainpost .name
{
	display: inline;
	padding-left: 8px;
	font-size: 16px;
	position: relative;
	top: 4px;
	font-weight: bold;
}
.mainpost .quotes
{
	margin: 8px 4px 8px 4px;
	font-size: 14px;
	font-family: sans-serif;
	text-align: justify;
	padding: 5px;
}
.main .quotes textarea
{
	margin-top: 8px;
	width: 100%;
	height: 70px;
	outline: 0px;
	padding: 5px;
	border: 1px solid #D1D1D1;
	font-size: 14px;
	font-family: sans-serif;
	text-align: justify;
	resize: none;
	box-sizing: border-box;
}
.main .postbar
{
	height: 15px;
	margin-top: 0px;
	padding: 10px 10px 10px 10px;
}
.main .postbar .postmypost
{
	display: inline;
	float: right;
	margin-top: 0px;
	font-size: 16px;
	padding: 4px 9px 4px 9px;
	border: 2px solid #2196F3;
	background-color: #00aeef;
	color: white;
	outline: 0px;
	border: 0px;
	border-radius: 25px;
	box-shadow: 3px 3px 5px #999999;
}
.main .postbar .postmypost:hover
{
	background-color: lightblue;
	color: white;
}
.main .postbar .postmypost:active
{
	background-color: #4F82C3;
    box-shadow: 0 5px 4px #666;
    transform: translateY(5px);
}
.likedislike .fa
{
	font-size: 18px;
	margin-right: 10px;
}
.likedislike .fa-thumbs-up
{
	margin-left: 8px;
}
.likedislike .fa-thumbs-down
{
	margin-left: 13px;
}
.likedislike .fa:active
{
  	transform: translateY(2px);
}
